<form class="question-div">
    <div class="place-change">
        <mat-icon class="iconSize" (click)="copyComponent()" >file_copy</mat-icon>
        <mat-icon class="iconSize" (click)="deleteComponent()" >delete</mat-icon>
        <mat-icon class="iconSize">arrow_downward</mat-icon>
        <mat-icon class="iconSize">arrow_upward</mat-icon>
    </div>


    <div class="question-header">
        <span style="font-size: 20px;">{{index+1}}</span>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter your question" value={{data.question}} class="insert-photo">
            </mat-form-field>
    </div>

    <div class="question-body">
                <div class="" *ngFor="let x of Arr">
                    <span class="material-symbols-outlined star">
                        {{Type}}
                    </span> 
                </div>
        </div>

        <div class="extra-option">
            <mat-form-field appearance="fill">
                <mat-label>Label</mat-label>
                <mat-select [(ngModel)]="Number" name="number">
                  <mat-option *ngFor="let number of numbers" [value]="number">
                    {{number}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="left">
                <mat-label>Symbols</mat-label>
                <mat-select [(ngModel)]="Type" name="Type">
                  <mat-option *ngFor="let type of types" [value]="type">
                    <span class="material-symbols-outlined">{{type}}</span> 
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

    <mat-divider></mat-divider>
    <div class="place-change">
        <div class="option">
            <mat-slide-toggle color="primary">Required</mat-slide-toggle> 
        </div>
        <div class="option">
            <mat-icon>more_horiz</mat-icon>
        </div>
    </div>
</form>