/* For use in src/lib/core/theming/_palette.scss */
$custom-primary: (
    50 : #e1efef,
    100 : #b3d7d8,
    200 : #81bcbe,
    300 : #4fa1a3,
    400 : #298c90,
    500 : #03787c,
    600 : #037074,
    700 : #026569,
    800 : #025b5f,
    900 : #01484c,
    A100 : #80f7ff,
    A200 : #4df3ff,
    A400 : #1af0ff,
    A700 : #00eeff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

